#container {
    width: 1440px;
    height: 2240px;
}

#promotion_banner {
    position: absolute;
    width: 1300px;
    height: 400px;
    left: 50px;
    top: 225px;
    margin-left: 2%;

    background-color: #EFCFE3;
}

#promotion_banner h1 {
    position: absolute;
    width: 518px;
    height: 110px;
    left: 149px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 110px;

    color: #4F4F4F;
}

#promotion_banner img {
    position: absolute;
    width: 439px;
    height: 439px;
    left: 876px;
    top: -40px;
}

#signature h2 {
    position: absolute;
    width: 713px;
    height: 93px;
    left: 363px;
    top: 729px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    text-align: center;

    color: #4F4F4F;
}

#signature #icon1 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50px;
    top: 832px;

    background: #FFEAF0;
}

#signature #icon1 h3 {
    position: absolute;
    width: 173px;
    height: 41px;
    left: 114px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;

    color: #4F4F4F;
}

#signature #icon1 img {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 120px;
}

#signature #icon2 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 521px;
    top: 832px;

    background: #FFEAF0;
}

#signature #icon2 h3 {
    position: absolute;
    width: 107px;
    height: 41px;
    left: 135px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;

    color: #4F4F4F;
}

#signature #icon2 img {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 120px;
}


#signature #icon3 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 990px;
    top: 832px;

    background: #FFEAF0;
}

#signature #icon3 h3 {
    position: absolute;
    width: 169px;
    height: 41px;
    left: 120px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;

    color: #4F4F4F;
}

#signature #icon3 img {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 120px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#header_bar {
    position: absolute;
    width: 100%;
    height: 175px;
    left: 0px;
    top: 0px;

    background: #B3DEE2;
}
  
#logo {
    margin-right: 20px;
}
  
#logo img {
    position: absolute;
    width: 114px;
    height: 114px;
    left: 248px;
    top: 30px;
}
  
#title h1 {
    position: absolute;
    width: 755px;
    height: 55px;
    left: 414px;
    top: 43px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;

    color: #EA9AB2;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FEF7E1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
nav {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 150px;

    background: #84C9CF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    margin-left: 225px;
    margin-top: 5px;
    text-align: center;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
  
nav a {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

#order {
    position: absolute;
    width: 1340px;
    height: 400px;
    left: 50px;
    top: 1312px;

    background: #FEF7E1;
}

#order h1 {
    position: absolute;
    width: 513px;
    height: 110px;
    left: 149px;
    top: 50px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 110px;

    color: #4F4F4F;
}

#order #order_button {
    position: absolute;
    width: 316px;
    height: 62px;
    left: 874px;
    top: 140px;

    background: #EFCFE3;
}

#order #order_button h4 {
    position: absolute;
    width: 246x;
    height: 54px;
    left: 45px;
    top: -10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

footer #footer_border {
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 1791px;

    background: #84C9CF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer #main_footer{
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 1847px;

    background: #B3DEE2;
}
  
  
footer #copyright {
    position: absolute;
    width: 500px;
    height: 28px;
    left: 603px;
    top: 100px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #4F4F4F;
}

footer #info p{
    position: absolute;
    width: 180px;
    height: 69px;
    left: 603px;
    top: 130px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #4F4F4F;
}

footer #footer_logo {
    position: absolute;
    width: 100px;
    height: 100px;
    scale: 60%;
    left: 1050px;
    top: 30px;
}

footer #map {
    position: absolute;
    left: 78px;
    top: 50px;
}
  